/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-Jan-2016, 12:34:35
    Author     : BigBen
*/

.text-area {
    -fx-background-color: tomato, tomato;
}

.text-area .content{
    -fx-background-color: tomato;
}

.text-area:focused .content{
    -fx-background-color: tomato;
}

.text-area *.content{
    -fx-background-color: tomato;
}


